<%= render "shared/page_title", title: "Cook #{@cook.cook_name}" %>

<div class="container cooks-show-container">
  <div class="column col-4 col-lg-6 col-md-8 col-sm-12 col-mx-auto">
    <div class="panel">
      <div class="panel-header text-center">
        <figure class="avatar avatar-xl">
          <%= avatar_for_cook @cook  %>
        </figure>
        <div class="panel-title h5 mt-10">
          <%= @cook.cook_name %>
        </div>
        <div class="panel-subtitle">
          Profile info
        </div>
      </div>
      <nav class="panel-nav">
        <ul class="tab tab-block">
          <li class="tab-item active" onclick="toggleTab(event,'details')" id="defaultTab">
              Details
          </li>
          <li class="tab-item" onclick="toggleTab(event, 'recipes')">
           <%= @cook.cook_name%>'s recipes
          </li>
        </ul>
      </nav>
      <div class="panel-body">
        <div class="tile tile-centered">
          <div class="tile-content" id="details">
            <div class="tile-title text-bold">
              E-mail
            </div>
            <div class="tile-subtitle">
              <%= @cook.email %>
            </div>
            <div class="tile-action">
            </div>
          </div>
          <div class="tile-content" id="recipes">
            <% @cook.recipes.each do |recipe| %>
              <div class="tile-recipes-group">
                <div class="tile-subtitle">
                  <%= recipe.name %>
                </div>
                <!-- TODO: ADD RECIPE IMG -->
                <div class="tile-img">
                  <figure class="avatar avatar-lg" data-initial="AJ" style="background-color: #5755d9;"></figure>
                </div>
              </div>
              <div class="divider"></div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>

  <div class="cook-recipes-link text-center">
    <kbd>
      <%= @cook.cook_name%>'s recipes
    </kbd>
  </div>

  <%#= render "recipes/recipe", obj:@cook.recipes %>

<!--  <kbd>-->
    <%#= link_to "I changed my mind. Take me back to see the recipes.", recipes_path , class: "recipes-link"%>
<!--  </kbd>-->
</div>