<div class="container recipes-index-container">
  <div class="recipe-header">
    <%= render "shared/page_title", title:"Recipes" %>
  </div>
  <div class="columns">
    <%= @recipes.each do |recipe| %>
      <div class="column p-2 col-md-6 col-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">
              <%= link_to recipe.name, recipe_path(recipe) %>
            </div>
          </div>
          <div class="card-body">
            <%= recipe.description %>
          </div>
          <div class="card-footer">
            Created <%= time_ago_in_words(recipe.created_at) %> ago
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

