<div class="container recipe-show-container">
  <%= render "shared/page_title", title: @recipe.name %>
  <%= @recipe.name.capitalize %>
  <h5>Steps:</h5>
  <%= simple_format(@recipe.description) %>

  <figure class="avatar avatar-xl">
    <%= link_to avatar_for_cook(@recipe.cook), recipes_path %>
  </figure>
  <%= @recipe.cook.cook_name %>
  <%= button_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-primary", :method => :get %>
  <%= button_to "Delete recipe", recipe_path(@recipe), class: "btn btn-primary", :method => :delete %>

  <div class="text-center">
    <kbd>
      <%= link_to "I changed my mind. Take me back to see the recipes.", recipes_path %>
    </kbd>
  </div>
</div>
