<%= render "shared/page_title", title: @recipe.name %>

<div class="container recipe-show-container">
  <div class="column col-4 col-lg-6 col-md-8 col-sm-12 col-mx-auto">
    <div class="panel">
      <div class="panel-header text-center">
        <figure class="avatar avatar-xl">
          <%= link_to avatar_for_cook(@recipe.cook), cook_path(@recipe.cook) %>
        </figure>
        <div class="panel-title h5 mt-10">
          <%= @recipe.cook.cook_name.pluralize + " recipe" %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="panel-body">
        <%= simple_format(@recipe.description) %>
      </div>
      <div class="panel-footer">
        <%= button_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-main", :method => :get %>
        <%= link_to "Delete recipe", recipe_path(@recipe), class: "delete-btn", :method => :delete %>
      </div>
    </div>
  </div>

  <%= render "recipes_link" %>
</div>
